include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include requirements-dev.txt
include doc-explainer.desktop
recursive-include assets *
recursive-include src/config *
recursive-include icons *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git